#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  font-family: 'Mina', sans-serif;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


#app>div {
  min-width: 250px;
  margin: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid rgba(69, 115, 152, 0.99);
  padding: 5px;
}